#about {
    font-family: 'Rubik',sans-serif;
    padding: 30px;
    height: 500px;
    border-bottom: 2px solid black;
    width: 100vw;
    box-sizing: border-box;
}

.hello {
    font-size: 40px;
    font-weight: bold;
    margin: 40px;
    margin-bottom: 100px;
}

.content {
    height: 50px;
    width: 875px;
    margin: 40px;
    padding: 5px;
    border-left: 2px solid black;
    display: flex;
    align-items: center;
    font-size: 20px;
}